<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    %= await tags.favicon()
    <title><%= (ctx.content.title ?? '') != '' ? ctx.content.title : "Easel" %></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Attendance</a></li>
          <li><a href="#">Marking</a></li>
          <li><a href="#">Administration</a></li>
        </ul>
      </nav>
    </header>
    
    <main>
      <%= ctx.content.main %>
    </main>

    <footer>
      <small>Found an issue? Tell us on Github: <a href="https://github.com/samgwise/easel-server/issues">Issue Tracker</a></small>
    </footer>
  </body>
</html>
