
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 2em;
}